<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="ba83ff368b7563c6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.15603.14400" newVersion="2.9.15603.14400" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.10.0.0" newVersion="4.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2460.0.57" newVersion="18.2460.0.57" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ResultDirectory" value="../Results" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="../TestClient.log" />
      </listeners>
    </trace>
    <switches>
      <!-- 0 - Disabled
           1 = Error   - Gives error messages
           2 = Warning - Gives errors and warnings
           3 = Info    - Gives more detailed error information
           4 = Verbose - Gives verbose trace information.    -->
      <add name="TraceLevel" value="Info" />
    </switches>
    
  </system.diagnostics>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <client>
      <!-- Network Model Service-->
      <endpoint address="net.tcp://localhost:10000/NetworkModelCloudServ/GDA/" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="FTN.ServiceContracts.INetworkModelGDAContract" name="NetworkModelGDAEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- CE PubSub endpoint -->
      <endpoint name="CalculationEnginePubSub" address="net.tcp://localhost:20002/CalculationEngineServ/PublisherService" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="FTN.ServiceContracts.ICePubSubContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- AE PubSub endpoint -->
      <endpoint name="AlarmsEventsPubSub" address="net.tcp://localhost:20030/AlarmsEvents/PublisherService" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="FTN.ServiceContracts.IAesPubSubContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- AES Integrity Endpoint -->
      <endpoint name="AesIntegrityEndpoint" address="net.tcp://localhost:20023/AlarmsEventsCloudServ/IntegrityUpdate" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="FTN.ServiceContracts.IAesIntegirtyContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- Alarms Event Endpoint -->
      <endpoint name="AlarmsEventsEndpoint" address="net.tcp://localhost:20023/AlarmsEventsCloudServ" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="FTN.ServiceContracts.IAlarmsEventsContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

			<!--CE service for history data-->
			<endpoint name="CalculationEngineHistoryService" address="net.tcp://localhost:20002/CalculationEngineCloudServ/CeToUI" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="CalculationEngineContracts.ICalculationEngineUIContract">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
      
      <endpoint name="ImporterTransaction" address="net.tcp://localhost:50000/TransactionManagerCloudServ/Importer" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="TransactionContract.IImporterContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint name="ScadaCommandingService.ScadaCommand" address="net.tcp://localhost:34000/SCADA/ScadaCommandingCloudServ" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="ScadaContracts.IScadaCommandingContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
    </client>
  <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:10:00" receiveTimeout="10:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>